<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       throwExceptions="true">

  <extensions>
    <add assembly="NLog.SignalR" />
  </extensions>

  <targets  async="true">

    <target xsi:type="SignalR"
            name="signalrDemo"
            groupIdPrefix="demoGroup123">
      <layout xsi:type="JsonLayout">
        <attribute name="LoggerName" layout="${logger}" />
        <attribute name="Message" layout="${message}" />
        <!--<attribute name="RemoteAddr" layout="${aspnet-request:serverVariable=remote_addr}:${aspnet-request:serverVariable=remote_port}" />
        <attribute name="PathInfo" layout="${aspnet-request:serverVariable=REQUEST_METHOD} ${aspnet-request:serverVariable=path_info}" />
        <attribute name="AllRaw" layout="${aspnet-request:serverVariable=all_raw}" />-->
        <!--<attribute name="Identity" layout="${aspnet-user-identity}" />-->
        <attribute name="FullMessage" layout ="${exception:format=Message,ShortType,Method,StackTrace:maxInnerExceptionLevel=10:separator=>}" />
        <attribute name="HostName" layout="${environment:WEBSITE_HOSTNAME}" />
        <attribute name="MashineName" layout="${machinename}" />
        <attribute name="IdentityName" layout="${identity:name=true}" />
        <attribute name="ThreadId" layout="${threadid}" />
      </layout>
    </target>

    <!--<target xsi:type="SignalR"
            name="signalrDemo"
            loggingHubName="myLoggingHub"
            groupIdPrefix="demoGroup123"
            layout="${message}" />-->
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="signalrDemo" />
  </rules>
</nlog>